VITE_SUPABASE_URL=https://kfodznsmqpupuuncdzgi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmb2R6bnNtcXB1cHV1bmNkemdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyOTM0NTUsImV4cCI6MjA5MTg2OTQ1NX0.GCVnH8xB_-NMV4BvwtdhTqzfE9E6chKUaDG4qirbq40
RESEND_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=